// css navbar site

.dropdown-toggle {
    background-color: transparent !important;
    color: #4037F5 !important;
    font-weight: bold;
    font-size: 15px;
    border: none !important;
    &:focus {
        box-shadow: none !important;
    }

}
.dropdown-item:focus, .dropdown-item:active{
    background-color: #4037F5 !important;
    color: white !important;
    .color-title {
        color: white !important
    }
}
.color-title {
    color: #4037F5 !important;
    font-weight: bold;
    font-size: 0.9rem;
}
.color-basic {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 0.7rem;
    line-height: 0.7rem;
}

.icon{
    font-size: 20px !important;
    margin: 0.5rem !important;
    
}

.mb-20{
    margin-left: 32px !important;
}

.link-no-design{
    text-decoration: none !important;
}

.text-title-ad-data{
    .dropdown-menu{
        padding: 0.25;
        font-size: 0.75;
    }
}