
/* page additional data */

.text-violet{
    color: #4037f5 !important
}

.text-title-ad-data{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
    color: #000000;
}

.text-form-sub-tittle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    color: #000000;   
}
.text-normal{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.3vw;
    line-height: 30px;
    color: #000000;
}
.text-small{
    font-size: 16px;
}
.text-normal-gray{
    color: #C4C4C4;
}

.arrow-down{
    font-size: 40px !important;
}

.padding-form{
    padding: 60px 100px !important;
}

.border-card{
    border-radius: 10px;
}

.border-card-2{
    border-radius: 5px; 
}
.form-select{
    width: 100%;
    border: 1px solid gray;
    height: 50px;
    border-radius: 10px;
}

.form-select{
    width: 100%;
    transition: all 300ms;

    &:hover{
        border-color: #71ceec!important;
        transition: all 300ms;
        box-shadow: 0 .1rem 0.5rem #71ceec!important;
    }

    &:focus{
        box-shadow: 0 .1rem 0.5rem #71ceec!important;
        border: 1px solid #71ceec!important;
        transition: all 300ms;
    }

}
.form-button{
    padding: 20px 60px;
    border-radius: 10px;
    background-color: #9854EF!important;
    border-color: #9854EF !important;
    transition: all 300ms;

    &:hover{
        border:none !important;
        box-shadow: 0 .2rem 0.5rem rgba(152, 84, 239, 0.5)!important;
        background-color: rgba(152, 84, 239, 0.5)!important;
        transition: all 300ms;
    }
    &:focus{
        border:none !important;
        box-shadow: 0 .2rem 0.5rem rgba(152, 84, 239, 0.5)!important;
        background-color: rgba(152, 84, 239, 0.5)!important;
        transition: all 300ms;
    }
    &:active{
        border-color: #633F92!important;
        box-shadow: 0 .2rem 0.5rem #633F92!important;
        background-color: #633F92!important;
        transition: all 300ms;
    }
}
.button-omit{
    padding: 20px 60px;
    border-radius: 10px;
    color: black;
    border: 1px solid black;
    background-color: transparent;
    transition: all 300ms;

    &:hover{
        background-color: #E0DEDE!important;
        border-color: #C4C4C4 !important;
        color: #000;
        /* box-shadow: 0 .4rem 0.5rem #9854EF!important; */
        transition: all 300ms;
    }
    &:focus{
        color: black;
        border: 1px solid black;
        box-shadow: 0 .2rem 0.5rem #9854EF!important;
        background-color: transparent;
        transition: all 300ms;

    }
}

.pb-10{
    padding-bottom: 100px;
}

.shadow{
    box-shadow: 6px 0px 24px rgba(0, 0, 0, 0.12), 0px 16px 32px rgba(17, 37, 62, 0.16) !important; 
}

.div-puntos{
    z-index: -1 !important;
    position: absolute;
    text-align: right !important;
    margin-top: 100px;
}

.r-40{
    right: 10px !important;
}

.shadow-lightblue{
    box-shadow: 0px 0px 5px 5px #71ceec !important; 
}

.height-card-form{
    height: 200px !important;
}


@media (max-width: 600px) {

    .height-card-form{
        height: 300px !important;
    }
}