* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg-home{
    /* background: linear-gradient(
                                123.69deg, 
                                #4037f5 3.63%,
                                rgba(117, 255, 255, 0.016) 46.85%, 
                                rgba(254, 127, 255, 0.011) 46.85%, 
                                rgba(113, 230, 244, 0) 46.85%
                                ); */
    background: linear-gradient(
                                123.69deg,
                                rgba(113, 230, 244, 0) ,
                                rgba(254, 127, 255, 0.011), 
                                rgba(117, 255, 255, 0.016), 
                                #4037f5
                                );
    /* background: linear-gradient(white, #4037f5); */
    width: 100% !important;
    height: 100% !important;
}

